body{
    background-color: pink;
    color:midnightblue;
}
h1{
  text-align: center;
  background-color: gray;
}
img{
  width: 33%;
  height: auto;
  object-fit: contain;
}
.ArtTable{
    border-style: solid;
    border-color: white;
    display:grid;
    grid-gap: 10px;
    width: 100%;
    grid-template-columns: 33% 33% 33%;
}
.ArtTableItem{
  align-items: center;
}
