body{
    background-color: pink;
    color:midnightblue;
}
h1{
  text-align: center;
  background-color: gray;
}
img{
  width: 33%;
  height: auto;
}
.ArtTable{
    border-style: solid;
    border-color: white;
}
