body{
    background-color: pink;
    color:midnightblue;
}
h1{
  text-align: center;
  background-color: gray;
}
img{
  width: 33%;
  height: auto;
  object-fit: contain;
}
.ArtTable{
    border-style: solid;
    border-color: white;
    display:flex;
    width: 100%;
    justify-content: space-evenly;
}
.ArtTableItem{
  text-align: center;
}
.center{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
